<body>

    <div class="main">

        <!--cards -->

        <div class="card" *ngFor="let product of products">

            <div class="image">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg">
            </div>
            <div class="title">
                <h1>
                    Write title Here</h1>
            </div>
            <div class="des">
                <p>You can Add Desccription Here...</p>
                <button (click)="productPage()">Read More...</button>
            </div>
        </div>

    </div>
</body>