
<div class="main_footer">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-8 col-12">
				<div class="footer_box">
					<a href="#"><img src="../../../assets/images/footer-logo.png"></a>
					<p>Bunch of Nerds Staying in 006 Shree PAlce decided to work in ekart aplication and learn few basics of angular and javascript</p>
					<p>Result is in front of you I strongly recommnend not to judge them </p>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-12">
				<div class="footer_box">
					<h2>Quick Link</h2>
					<hr>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Project</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-12">
				<div class="footer_box">
					<h2>Get In Touch</h2>
					<hr>
					<div class="footer_address">
						<h6><a href="Location Map Link"><i class="fa fa-map-marker"></i>006 Shree Palce</a></h6>
						<h6><a href="tel:+911234567890"><i class="fa fa-phone"></i> +919309858322</a></h6>
						<h6><a href="mailto:kameshburde35@gmail.com"><i class="fa fa-envelope"></i>kameshburde35@gmail.com</a></h6>
					</div>
					<div class="footer_socialicons">
						<ul>
							<li><a href="https://www.facebook.com/kamesh.burde007/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="https://www.instagram.com/sarv_saktisali_eklauta_bhagwan/?hl=en"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/in/kamesh35/"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>