/* Needed for the lightbox */

html, body {
	height: 100%;
	width: 100%;
}

/* CSS for the loading div */

img{
	max-width: 100%;
}

.container{
	width: 90%;
	margin: 0 auto;
}

.sp-loading {
	text-align: center;
	max-width: 270px;
	padding: 15px;
	border: 5px solid #eee;
	border-radius: 3px;
	font-size: 12px;
	color: #888;
}

/* Element wrapper */

.sp-wrap {
	display: inline-block;
	line-height: 0;
	font-size: 0;
	background: #eee;
	border: 5px solid #eee;
	border-radius: 3px;
	position: relative;
	margin: 0 25px 15px 0;
	
	/**************
	  Set max-width to your thumbnail width
	***************/
	
	max-width: 200px;
}
.sp-wrap-img{
    display: inline-block;
    width: 520px;
}
/* Thumbnails */

.sp-thumbs {
	text-align: left;
	display: inline-block;
}
.sp-thumbs img {
	min-height: 50px;
	min-width: 50px;
	max-width: 50px;
}
.sp-thumbs a:link, .sp-thumbs a:visited {
	width: 50px;
	height: 50px;
	overflow: hidden;
	opacity: .3;
	display: inline-block;
	background-size: cover;
	background-position: center;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.sp-thumbs a:hover {
	opacity: 1;
}

/* Styles for the currently selected thumbnail */

.sp-thumbs a:active, .sp-current {
	opacity: 1!important;
	position: relative;
}

/* Image currently being viewed */

.sp-large {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
}
.sp-large a img {
	max-width: 100%;
	height: auto;
}
.sp-large a {
	display: block;
}

/* Panning Zoomed Image */

.sp-zoom {
	position: absolute;
	left: -50%;
	top: -50%;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	display: none;
}

.sp-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .9);
	z-index: 500;
	display: none;
	cursor: pointer;
}
.sp-lightbox img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 90%;
	max-height: 90%;
	border: 2px solid #fff;
}
#sp-prev, #sp-next {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 501;
	color: #fff;
	padding: 14px;
	text-decoration: none;
	background: #000;
	border-radius: 25px;
	border: 2px solid #fff;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	transition: .2s;
}
#sp-prev {
	left: 10px;
}
#sp-prev:before {
	content: '';
	border: 7px solid transparent;
	border-right: 15px solid #fff;
	position: absolute;
	top: 16px;
	left: 7px;
}
#sp-next {
	right: 10px;
}
#sp-next:before {
	content: '';
	border: 7px solid transparent;
	border-left: 15px solid white;
	position: absolute;
	top: 16px;
	left: 18px;
}
#sp-prev:hover, #sp-next:hover {
	background: #444;
}


@media screen and (max-width: 400px) {
	.sp-wrap {
		margin: 0 0 15px 0;
	}
	#sp-prev, #sp-next {
		top: auto;
		margin-top: 0;
		bottom: 25px;
	}
}
.product-detail{
	display: inline-block;
	
	width: 100%;
	padding: 45px 0;
}
.product-detail h3{
	font-size: 24px;
	padding: 15px 0;
}
.product-detail-left{
    float:left;
	width:40%;
}
.product-detail-right{
	float: right;
	width: 55%;
}
.product-detail-right h3{
	font-size: 22px;
	line-height: 24px;
	padding-top: 0;
}
.product-detail-right h3 small{
	font-size: 14px;
	color: gray;
}
.product-detail-right h5{
	font-size: 18px;
	margin-bottom: 20px;
	color: gray;
}
.product-detail-right h5 b{
	color: #000;
}
.product-detail-right .addtocart{
	border: 1px solid;
	color: #ffa800;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	display: inline-block;
}
.product-detail-right .writereview{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	margin-left: 20px;
	display: inline-block;
}
.product-detail-right .buynow{
	border: 1px solid #ffa800;
	background-color: #ffa800;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 4px;
	margin-top: 20px;
	width: 60%;
	text-align: center;
	display: inline-block;
}

.product-detail-feature{
	width: 100%;
	
	display: inline-block;
	margin-top: 25px;
	padding: 15px;
	background-color: #ffa8001a;
}
.product-detail-feature h3{
	font-weight: 500;
	border-bottom: 1px solid;
}
.product-detail-feature p{
	padding: 15px 0;
	font-size: 18px;
	border-bottom: 1px solid #dedede;
	width: 50%;
	
}
.product-detail .sp-wrap{
	max-width: 100%;
}
.product-detail-left img{
	max-width: inherit;
}



.productViewBox{
	width: 90%;
	height: 90%;
	margin: auto auto;
	background-color: gray;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 999;
	border: 1px solid #ffa800;
	border-radius: 4px;
	background-color: #fff2d7;
	box-shadow: 0 5px 250px #000;
	padding: 15px 25px;
	overflow-y: auto;
	display: none;
}
.productViewBox h3{
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}
.productViewBox-closeBtn{
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	margin: 10px;
	border-radius: 50px;
	background-color: #ffa800;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
}
.productViewBoxImg{
	width: 45%;
	float: left;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #dadada;
}
.productViewBoxImg img{
	width: 100%;
}
.productViewBoxDetail{
	width: 50%;
	float: right;
}
.productViewBoxDetail h5{
	font-size: 18px;
	margin-bottom: 15px;
	line-height: 28px;
	font-weight: 500;
	color: #333;
}
.productViewBoxDetail h5 b{
	font-weight: 600;
	color: #000;
}
.productViewBoxDetail .addtocart{
	border: 1px solid;
	color: #ffa800;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	display: inline-block;
}
.productViewBoxDetail .writereview{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	margin-left: 20px;
	display: inline-block;
}
.productViewBoxDetail .buynow{
	border: 1px solid #ffa800;
	background-color: #ffa800;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 4px;
	margin-top: 20px;
	width: 60%;
	text-align: center;
	display: inline-block;
}

 


