<div class="product-detail">
    <div class="container">
        <div class="product-detail-left">
            <!-- <div class="sp-loading">
                <img src="../../../assets/images/sp-loading.gif">
                Loading Images
            </div> -->
            <div class="sp-wrap">
                <a href="../../../assets/images/1_big.jpg"><img src="../../../assets/images/1_tb.jpg" class="sp-wrap-img" alt=""></a>
                <!-- <a href="../../../assets/images/2_big.jpg"><img src="../../../assets/images/2_tb.jpg" class="sp-wrap-img" alt=""></a>
                <a href="../../../assets/images/3_big.jpg"><img src="../../../assets/images/3_tb.jpg" class="sp-wrap-img" alt=""></a> -->
            </div>
        </div>
        <div class="product-detail-right">
            <h3>Macbook Pro MQ032 14.5' Inter Core i7 5550U 8GB DDR3 <br><small>Code : GA00006488</small></h3>
            <h5><b>Price : </b> <i class="fas fa-dollar-sign"></i> 598</h5>
            <h5><b>Brand : </b> Apple</h5>
            <h5><b>Warranty : </b> 12 Months</h5>
            <h5><b>Delivery of the city : </b> Free</h5>
            <h5><b>Payment : </b> COD, Visa, Mastercard, Debit, Credit, Installation</h5>
            <h5><b>Availability : </b> in Stock</h5>
            <a href="#" class="addtocart"><i class="fa fa-heart"></i> Add to Cart</a>
            <a href="#" class="writereview"><i class="fa fa-pen"></i> Write a review</a>
            <a href="#" class="buynow"><i class="fa fa-shopping-cart"></i> Buy Now</a>
        </div>
        <div class="product-detail-feature">
            <h3>Feature</h3>
            <p>Brand : Apple</p>
            <p>Bluetooth : Yes</p>
            <p>Wifi : Yes</p>
            <p>Webcam : Yes</p>
            <p>Weight : 1.37kg</p>
            <p>Dimensions : 304x212x14.9mm</p>
            <p>Speakers : Yes</p>
            <p>Microphone : Yes</p>
            <p>Laptop Processor Code : 7360U</p>
            <p>Laptop Processor Code : 2</p>
            <p>Laptop Catch Size : 4M</p>
            <p>Laptop Processor : Intel Core i7</p>
            <p>Laptop Processor Frequency : 3.6 GHz</p>
            <p>Laptop OS : MacOS sierra</p>
            <p>Laptop Series : Macbook Pro</p>
            <p>Laptop Purpose : Work, Multimedia</p>
            <p>Laptop Keyboard Backlight : Yes</p>
            <p>Laptop Hard Drive Capacity : 128GB</p>
            <p>Laptop Hard Drive Type : SSD</p>
            <p>Laptop RAM : 8GB</p>
            <p>Laptop Screen Size : 13.3 inch</p>
            <p>Laptop Screen Resolution : 2560x1600</p>
            <p>Laptop LED Backlight : Yes</p>
            <p>Matrix Type of Laptop Screen : IPS</p>
            <p>Laptop Screen Cover : Glossy</p>
            <p>Widescreen Laptop Screen : Yes</p>
            <p>Video Card Manufacturer : Inter Iris Plus Graphics</p>
            <p>Notebook Graphics Card Type : Inter</p>
        </div>
    </div>
</div>