<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <span >
    <nav *ngIf="router.url!=='/login'" class="navbar navbar-inverse">
      <div class="container text-centre">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="bdy">
              <a class="navbar-brand" href="#" >
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  EKart
              </a>
           </div>
          </div>
          <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="form-group" [ngStyle]="{'width': '400px'}">
              <input type="text" class="form-control" [ngStyle]="{'width': '400px'}" placeholder="Search" name="search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>

          </form>
          <div>
            <button class="cart" (click)="navigateToCart()"><i class="fa fa-cart-arrow-down" aria-hidden="true"
                style="color: white; background-color:'#333';font-size: 25px;"></i></button>
            <button class="profile" (click)="navigateToProfile()"><i class="fa fa-user-circle" aria-hidden="true"
                style="color: white; background-color:'#333';font-size: 25px;"></i></button>
          </div>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </span>
 
</body>

</html>