
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../../../assets/images/bg.jpg) no-repeat;
  background-size: cover;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}


.bdy{
    margin-top: 3px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2px;
    margin: 12px 0;
  }
  a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #43b15a;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    transition: 0.2s;
  }
  a:hover{
    color: #43b15a;
    background: #29eb18;
    box-shadow: 0 0 10px #49d32d, 0 0 40px #4bcc18, 0 0 80px #1eb80a;
    transition-delay: 1s;
    border-radius: 0.5cm;
  }
  a span{
    position: absolute;
    display: block;
  }
  a span:nth-child(1)  {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
  }
  a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#0a913e);
  }
  a:hover span:nth-child(3) {
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#169905);
  }
  a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#29970d);
  }
  a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }