
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="login-box">
  <h1>EKart Login</h1>
  <div class="textbox">
    <i class="fa fa-user"></i>
    <input type="text" placeholder="Username">
  </div>

  <div class="textbox">
    <i class="fa fa-lock"></i>
    <input type="password" placeholder="Password">
  </div>
<div class="bdy">
    <a href="#" (click)="login()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign In
    </a>
</div>
  
</div>
  </body>
</html>
